/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    color: #333;
}

#logar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

#formulario{
    background-color: #d8d8d8;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #666;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fafafa;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #4a90e2;
    outline: none;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#content {
    background-color:#ddb606;
    color: white;
    font-weight: bold;
}

#content:hover {
    background-color:#a98c09;
}

#cancelar {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

#cancelar:hover {
    background-color: #c0392b;
}

div button {
    width: 100%;
}
