.uso{
    height: 100px;
    width: 100px;
    margin-left: 22%;
    
}
#logo{
    width: 200px;
}
#usuario{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 181.38px;
    height: 221.6px;
}
.p_uso{
    font-size:medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}
.btn{
  
margin-left: 23%;
margin-top: 4%;
}

#p_bemvindo{
    margin-top: 16%;
    
}
nav{
    display: flex;
  
  justify-content: space;
}
